.all-feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#subfeature-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.MuiBackdrop-root {
    background-color:rgba(250, 235, 215, 0) !important; 
    height: 100vh !important;
    width: 100vw !important;
}

#subfeature-list-container {
    width: auto;
    height: auto;
    background-color:rgba(250, 235, 215, 1); 

    padding: 20px;
    border-radius: 20px;
}

.subfeature-list {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    gap: 20px;
}

.subfeature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3px;
    transition-duration: 500ms;
}

.subfeature-container:hover {
    transform: scale(1.04);
}

.subfeature-icon {
    width: 30px;
    height: auto;
    padding-right: 25px;
}

.icon-grid-faded {
    opacity: 0.3;
}