.preference-title {
    font-size: 50px;
}

.preference-icon {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.preference-icon:hover {
    transform: scale(1.1);
}

.preference-icon.selected {
    transform: scale(1.15);
}

.icon-grid {
    margin-top: 10%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.option-container {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

/* Dealing with double orphans */
.option-container:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
}
  
.option-container:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
}
  
/* Dealing with single orphan */
.option-container:last-child:nth-child(3n - 2) {
    grid-column-end: 5;
}

.preference-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preference-btn {
    height: 40px;
    width: 80px;
    font-size: 18px;
    background-color: #FCFCFD;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
}

.preference-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
