#story-page-container {
    width: 100vw;
    height: 1000vh;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Tool Bar CSS */
#story-feature-container {
    margin-top: 10px;
    margin-right: 20px;
    min-width: 150px;
    gap: 25px;
    display: flex;
    flex-direction: row;
    float: right;
}

/* Story Content CSS */
#story-content-container {
    /* overflow: scroll; */
    font-size: 20px;
    margin: 60px 10%;
    width: 80%;
}

.text-select {
    cursor: url('../../public/cursor/select.cur'), auto;
}

.text-select::selection {
    background-color: #aacdfa;
}

/* Sentence Options CSS */
#drag-area {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #69809e;
    margin-bottom: 10px;
}

#sentence-options-container {
    min-width: 120px;
    background-color: #aacdfa;
    border-radius: 10px;
    padding: 5px;
}

.sentence-option {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 3px;
    border-radius: 5px;
}

.sentence-option:hover {
    background-color: #6383ad;
}

.sentence-option-with-suboption {
    height: 25px;
}

.sentence-suboption {
    margin-top: 5px;
    margin-left: 30px;
    min-height: 32px;
}

#pronounce-suboption {
    /* float: right; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.suboption-button {
    height: 25px;
}

#translation-container {
    max-width: 300px;
    font-size: 18px;
}

#translation-container button {
    float: left;  /* This will make the text wrap around the button */
    margin-right: 10px;  /* Provide some space between the button and the text */
  }