#vocabulary-quiz-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Quiz Content CSS */
#vocabulary-quiz-cards-container {
    margin-bottom: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

#vocabulary-quiz-card-title {
    width: 95%;
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid black;
    border-image: linear-gradient(-45deg, #3498db, #d396dd) 1;
}

.vocabulary-question-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px;
    font-size: 18px;
    justify-content: center;
}

.vocabulary-question {
    width: 150px;
}

.vocabulary-answer-input {
    width: 150px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.vocabulary-feedback-container {
    width: 150px;
}

.vocabulary-answer-correction {
    color: #ce3e3e;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.feedback-icon {
    width: 20px;
    height: auto;
}