/* CSS for add new word popup */
.add-word-btn-container {
    position: fixed;
    top: 20px;
    right: 8%;
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.add-word-btn-container button {
    font-size: 18px;
    border-radius: 10px;
    background: none;
    border: 2px solid #086382;
    /* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */
}

.add-word-btn-container button:hover {
    transform: scale(1.05);
}

#add-word-popup, #playback-controller-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-word-zoom-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-word-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #aacdfa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.add-word-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid black;
    margin-bottom: 6px;
}

.add-word-form-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
}

.add-word-form-header-btns {
    display: flex;
    gap: 7px;
}

.add-word-form-header-btn {
    background: none;
    border: none;
}

.add-word-form-header-btn img {
    width: 20px;
}

.new-word-form label {
    width: 90px;
    display: inline-block;
}

#note-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4px;
}

#note-container input {
    height: 80%;
}

/* CSS for Vocabulary Playback Controller */
#playback-controller {
    width: 340px;
    display: flex;
    flex-direction: column;
    padding: 0 18px;

    background-color: #aacdfa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#level-filter-title {
    font-size: 18px;
    font-weight: bold;
}

#level-filter-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

#playback-control-button-group {
    height: 30px;
}

#playback-loop-button {
    float: right;
}

/* CSS for vocabulary lists */
.vocabulary-lists-container {
    /* display: flex;
    flex-direction: row; */
    margin-top: 70px;
    margin-left: 5%;
    width: 90%;
}

.vocabulary-list th:nth-child(1) {
    min-width: 120px;
}

.vocabulary-list th:nth-child(2) {
    min-width: 110px;
}

.vocabulary-list th:nth-child(3) {
    min-width: 50px; 
}

.vocabulary-list th:nth-child(4) {
    min-width: 120px;
}

.vocabulary-list th, .vocabulary-list td {
    text-align: center;
    /* box-sizing: border-box; */
}

.vocabulary-list {
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
}

.vocabulary-list tr {
    border: 3px solid #086382;
}

/* CSS for page number buttons */
.page-number-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 100px;
    bottom: 20px;
    gap: 5px;
}

.page-number-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    background: none;
}

/* CSS for word details popup */
#word-detail-popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#word-detail-container {
    padding: 5px 10px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    width: 20%;
    background-color: #aacdfa;
}

.word-popup-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#translation-cell, #exit-save-cell, #delete-cell {
    position: relative;
}

#translation-cell-input {
    background: none;
    width: 90%;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    margin-left: 5px;

    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

#word-title {
    display: flex;
    align-items: center;
    font-weight: bold;
}

#level-selection-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#level-selection {
    padding: 5px 12px;
    text-align: center;
}

#example-cell-text {
    margin-bottom: 2px;
    font-style: italic;
}

#example-cell {
    width: 220px;
    text-align: center;
}

#word-detail-container {
    position: relative;
}

#word-popup-function-icon-container {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 99;
}

.word-popup-function-icon {
    width: 18px;
    height: 18px;
    float: right;
}

#word-note {
    padding-top: 10px;
}

#word-note-textarea {
    width: 100%;
    height: 50px;
    background: none;
}
